services:
  backend:
    image: slawekradzyminski/backend:3.0.0
    restart: always
    ports:
      - "4001:4001"
    hostname: backend
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_ARTEMIS_BROKER_URL: tcp://activemq:61616
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/testdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - activemq
      - postgres
    networks:
      - my-private-ntwk

  frontend:
    image: slawekradzyminski/frontend:3.0.0
    restart: always
    ports:
      - "8081:8081"
    networks:
      - my-private-ntwk

  postgres:
    image: postgres:16.1
    restart: always
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - my-private-ntwk

  prometheus:
    image: prom/prometheus:v3.1.0
    restart: always
    volumes:
      - ./prometheus/:/etc/prometheus/
    ports:
      - "9090:9090"
    depends_on:
      - backend
    networks:
      - my-private-ntwk

  grafana:
    image: grafana/grafana:11.5.1
    environment:
      GF_SECURITY_ADMIN_PASSWORD: grafana
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - influxdb
    networks:
      - my-private-ntwk

  activemq:
    image: apache/activemq-artemis:2.31.2
    restart: always
    environment:
      ARTEMIS_USER: admin
      ARTEMIS_PASSWORD: admin
      ANONYMOUS_LOGIN: "true"
      EXTRA_ARGS: --http-host 0.0.0.0 --relax-jolokia --no-autotune
      DISABLE_SECURITY: true
      BROKER_CONFIG_GLOBAL_MAX_SIZE: 512mb
    ports:
      - "61616:61616"
      - "8161:8161"
      - "5672:5672"
    hostname: activemq
    networks:
      - my-private-ntwk

  mailhog:
    image: mailhog/mailhog:v1.0.1
    restart: always
    ports:
      - "8025:8025"
      - "1025:1025"
    hostname: mailhog
    networks:
      - my-private-ntwk

  consumer:
    image: slawekradzyminski/consumer:1.3
    restart: always
    ports:
      - "4002:4002"
    hostname: consumer
    depends_on:
      - activemq
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - my-private-ntwk

  influxdb:
    image: influxdb:1.8
    ports:
      - '8086:8086'
    volumes:
      - influxdb-storage:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=db0
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin
    networks:
      - my-private-ntwk

  ollama:
    image: slawekradzyminski/ollama:qwen3-thinking
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_MODELS_DIR=/root/.ollama
    networks:
      - my-private-ntwk

  nginx-static:
    image: nginx:1.29.1-perl
    hostname: nginx
    restart: always
    ports:
      - "8082:80"
    volumes:
      - ./images:/usr/share/nginx/html/images
    networks:
      - my-private-ntwk

volumes:
  influxdb-storage:
  postgres-data:
  ollama-data:

networks:
  my-private-ntwk:
    driver: bridge
