version: '3.8'

services:
  backend:
    image: slawekradzyminski/backend:1.2
    platform: linux/amd64
    restart: always
    ports:
      - "4001:4001"
    hostname: backend
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - my-private-ntwk

  frontend:
    image: slawekradzyminski/frontend:1.3
    platform: linux/amd64
    restart: always
    ports:
      - "8081:8081"
    networks:
      - my-private-ntwk

  prometheus:
    image: prom/prometheus:v2.50.1
    platform: linux/amd64
    restart: always
    volumes:
      - ./prometheus/:/etc/prometheus/
    ports:
      - "9090:9090"
    depends_on:
      - backend
    networks:
      - my-private-ntwk

  grafana:
    image: grafana/grafana:10.3.4
    platform: linux/amd64
    environment:
      GF_SECURITY_ADMIN_PASSWORD: grafana
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - influxdb
    networks:
      - my-private-ntwk

  activemq:
    image: symptoma/activemq:5.17.2
    platform: linux/amd64
    restart: always
    ports:
      - "61616:61616"
      - "8161:8161"
    hostname: activemq
    networks:
      - my-private-ntwk

  mailhog:
    image: mailhog/mailhog:v1.0.1
    platform: linux/amd64
    restart: always
    ports:
      - "8025:8025"
      - "1025:1025"
    hostname: activemq
    networks:
      - my-private-ntwk

  consumer:
    image: slawekradzyminski/consumer:1.2
    platform: linux/amd64
    restart: always
    ports:
      - "4002:4002"
    hostname: consumer
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - my-private-ntwk

  influxdb:
    image: influxdb:1.8
    platform: linux/amd64
    ports:
      - '8086:8086'
    volumes:
      - influxdb-storage:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=db0
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin
    networks:
      - my-private-ntwk

  jenkins:
    build: .
    platform: linux/amd64
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - my-private-ntwk

volumes:
  influxdb-storage:
  jenkins-data:

networks:
  my-private-ntwk:
    driver: bridge
