services:
  ollama:
    image: slawekradzyminski/qwens
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    environment:
      - OLLAMA_MODELS_DIR=/root/.ollama
    networks:
      - my-private-ntwk

volumes:
  ollama-data:

networks:
  my-private-ntwk:
    driver: bridge
