services:

  jenkins:
    build: .
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    networks:
      - my-private-ntwk

volumes:
  jenkins-data:

networks:
  my-private-ntwk:
    driver: bridge
