version: '3.8'

services:
  backend:
    image: slawekradzyminski/backend:1.2
    platform: linux/amd64
    restart: always
    ports:
      - "4001:4001"
    hostname: backend
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - my-private-ntwk

  frontend:
    image: slawekradzyminski/frontend:1.3
    platform: linux/amd64
    restart: always
    ports:
      - "8081:8081"
    networks:
      - my-private-ntwk

  activemq:
    image: symptoma/activemq:5.17.2
    platform: linux/amd64
    restart: always
    ports:
      - "61616:61616"
      - "8161:8161"
    hostname: activemq
    networks:
      - my-private-ntwk

  mailhog:
    image: mailhog/mailhog:v1.0.1
    platform: linux/amd64
    restart: always
    ports:
      - "8025:8025"
      - "1025:1025"
    hostname: activemq
    networks:
      - my-private-ntwk

  consumer:
    image: slawekradzyminski/consumer:1.2
    platform: linux/amd64
    restart: always
    ports:
      - "4002:4002"
    hostname: consumer
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - my-private-ntwk

networks:
  my-private-ntwk:
    driver: bridge
