services:
  backend:
    image: slawekradzyminski/backend:2.7.1
    restart: always
    ports:
      - "4001:4001"
    hostname: backend
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_ARTEMIS_BROKER_URL: tcp://activemq:61616
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/testdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - activemq
      - postgres
    networks:
      - my-private-ntwk

  frontend:
    image: slawekradzyminski/frontend:2.5.1
    restart: always
    ports:
      - "8081:8081"
    hostname: frontend
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - my-private-ntwk

  postgres:
    image: postgres:16.1
    restart: always
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    networks:
      - my-private-ntwk

  activemq:
    image: apache/activemq-artemis:2.31.2
    restart: always
    environment:
      ARTEMIS_USER: admin
      ARTEMIS_PASSWORD: admin
      ANONYMOUS_LOGIN: "true"
      EXTRA_ARGS: --http-host 0.0.0.0 --relax-jolokia --no-autotune
      DISABLE_SECURITY: true
      BROKER_CONFIG_GLOBAL_MAX_SIZE: 512mb
    ports:
      - "61616:61616"
      - "8161:8161"
      - "5672:5672"
    hostname: activemq
    networks:
      - my-private-ntwk

  mailhog:
    image: mailhog/mailhog:v1.0.1
    restart: always
    ports:
      - "8025:8025"
      - "1025:1025"
    hostname: mailhog
    networks:
      - my-private-ntwk

  consumer:
    image: slawekradzyminski/consumer:1.3
    restart: always
    ports:
      - "4002:4002"
    hostname: consumer
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - my-private-ntwk

networks:
  my-private-ntwk:
    driver: bridge
