services:
  backend:
    image: slawekradzyminski/backend:3.3.0
    restart: always
    ports:
      - "4001:4001"
    hostname: backend
    environment:
      SPRING_PROFILES_ACTIVE: local
      OLLAMA_BASE_URL: http://ollama-mock:11434
    networks:
      - my-private-ntwk

  frontend:
    image: slawekradzyminski/frontend:3.3.0
    restart: always
    ports:
      - "8081:8081"
    networks:
      - my-private-ntwk

  ollama-mock:
    image: slawekradzyminski/ollama-mock:1.0.2
    restart: always
    ports:
      - "11434:11434"
    networks:
      - my-private-ntwk

  nginx-static:
    image: nginx:1.29.1-perl
    hostname: nginx
    restart: always
    ports:
      - "8082:80"
    volumes:
      - ./images:/usr/share/nginx/html/images
      - ./nginx/conf.d/header-buffers.conf:/etc/nginx/conf.d/header-buffers.conf:ro
    networks:
      - my-private-ntwk

networks:
  my-private-ntwk:
    driver: bridge
