APP_COMPOSE_FILE={{ (app_dir ~ '/' ~ app_compose_file) | quote }}
BACKUP_ROOT={{ postgres_backup_root | quote }}
BACKUP_DAILY_RETENTION={{ postgres_backup_daily_retention }}
BACKUP_WEEKLY_RETENTION={{ postgres_backup_weekly_retention }}
BACKUP_ENCRYPTION_PASSPHRASE={{ postgres_backup_encryption_passphrase | quote }}
BACKUP_REMOTE_TARGET={{ postgres_backup_remote_target | quote }}
POSTGRES_DATABASE={{ postgres_backup_database | quote }}
POSTGRES_USER={{ postgres_backup_user | quote }}
POSTGRES_RESTORE_IMAGE={{ postgres_restore_image | quote }}
