name: CI

on: [push]

jobs:
  runDocker:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:stable
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
    steps:
    - uses: actions/checkout@v4
    - name: Build and run Docker Compose
      run: bash ./run-docker-compose.sh

  runDocker-CI:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:stable
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
    steps:
    - uses: actions/checkout@v4
    - name: Build and run Docker Compose CI version
      run: bash ./run-docker-compose-ci.sh